<div class="anton">
  <div class="row center">
    <div class="col s0 m4 l4 offset-m7 offset-l7">
      <h2 class="center"> <%= current_user.display_name %></h2>
      <h7 class="center"> <%= current_user.email %></h7>
      <br>
      <%= link_to "Logout", "/logout", method: :delete, class: "btn btn-lg btn-default btn-home" %>
      <%= render partial: "/dashboard/aggregate_data" %>
      <%= link_to "View Workouts", workouts_path, class: "btn btn-lg btn-default btn-home" %>
    </div>
    <div class="spacer"></div>
  </div>
</div>